        {{> head }}
        {{> navbar }}
              <div class="row">
                  <div class="col-8">
                      <h1>Mi pata Josh Klinghofer</h1>
                  </div>
                  <div class="col-4">
                      <img src="assets/img/josh.jpg" class="img-thumbnail">
                  </div>
              </div>
        {{> footer}}